@import './variables';

@mixin no-gaps {
    margin: 0;
    padding: 0;
}

@mixin container-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

@mixin gradient-text {
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(160%);
}

@mixin linear-gradient {
    background: $linear-gradient;
    filter: brightness(115%);
}

@mixin full-screen {
    width: 100vw;
    height: 100vh;
}

@mixin scroll-bar {
    ::-webkit-scrollbar {
        background-color: $secundary-color;
        width: 8px;
        height: 8px;
        border-radius: 100px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 100px;
    }

}

@mixin chrome-input-range {
    input[type=range]::-webkit-slider-runnable-track {
        @include range-track;
    }

    input[type=range]::-webkit-slider-thumb {
        @include range-thumb;
    }
}

@mixin mozzila-input-range {
    input[type=range]::-moz-range-track {
        @include range-track;
    }

    input[type=range]::-moz-range-thumb {
        @include range-thumb;
    }
}

@mixin edge-input-range {
    input[type=range]::-ms-track {
        @include range-track;
    }

    input[type=range]::-ms-thumb {
        @include range-thumb;
    }
}

@mixin media-fix {

    html,
    body {
        font-size: 14px;
    }

    header {
        height: 5vh;
    }

    .studio {

        .container {
            align-items: start;

            .recent-videos {
                .video-container {
                    flex-direction: column;

                    .video {
                        flex-direction: row;

                        span {
                            max-width: 60%;
                        }
                    }
                }
            }
            .video-finder {

                .finder {
                    @include container-center;
                    flex-direction: column;
                    button {
                        @include linear-gradient;
                        align-self: center;
                        display: inline-block;
                        padding: 10px 40px;
                        border-radius: 100px;
                        color: $title-icons-color;
                        margin-top: 20px;
                        font-size: $utility-fontsize;
                    }
                }
    
                .video {
                    .video-box {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
    }


    .steps {
        div {
            flex-direction: row;
        }
    }

    .edit {
        .edit-container {

            .thumb-track,
            .lyrics {
                min-width: 380px;
            }
        }
    }
}