@import './variables';

@mixin no-gaps {
    margin: 0;
    padding: 0;
}

@mixin container-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

@mixin gradient-text {
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(160%);
}

@mixin full-screen {
    width: 100vw;
    height: 100vh;
}

@mixin scroll-bar {
    ::-webkit-scrollbar {
        background-color: $secundary-color;
        width: 8px;
        height: 8px;
        border-radius: 100px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 100px;
    }

}

@mixin chrome-input-range {
    input[type=range]::-webkit-slider-runnable-track {
        @include range-track;
    }

    input[type=range]::-webkit-slider-thumb {
        @include range-thumb;
    }
}

@mixin mozzila-input-range {
    input[type=range]::-moz-range-track {
        @include range-track;
    }

    input[type=range]::-moz-range-thumb {
        @include range-thumb;
    }
}

@mixin edge-input-range {
    input[type=range]::-ms-track {
        @include range-track;
    }

    input[type=range]::-ms-thumb {
        @include range-thumb;
    }
}

@mixin range-track {
    background: $secundary-color;
    height: 8px;
    border-radius: 100px;
    cursor: pointer;
    appearance: none;
    align-self: center;
    justify-self: center;
}

@mixin range-thumb {
    height: 15px;
    width: 15px;
    margin-top: -3px;
    background-color: #FFF;
    border-radius: 100%;
    appearance: none;
    cursor: pointer;
}

@mixin media-1800px {
    .login {
        section {
            width: 35%;
        }
    }
}

@mixin media-1500px {
    .edit {
        .edit-container {
            width: 85%;
            padding: 10%;
        }
    }
}

@mixin media-1050px {
    html {
        font-size: 12px;
    }

    .login {
        section {
            width: 50%;
        }
    }

    .edit {
        .edit-container {
            @include container-center;
            flex-direction: column;
            width: 75%;
            height: 100%;
            max-height: 100%;
            padding-block: 10%;
            gap: 20px;
        }
    }
}

@mixin media-700px {
    .login {
        section {
            width: 80%;
        }
    }

    .studio {
        .video-finder {
            .video {
                .video-box {
                    display: flex;
                    flex-direction: column;
                }

                section {
                    margin-top: 15px;
                }
            }
        }
    }

    .steps {
        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            gap: 20px;

            section {
                max-width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;

                Image {
                    width: 100%;
                    height: auto;
                }

                span {
                    font-size: $utility-fontsize;
                    font-weight: 300;
                    color: $title-icons-color;
                    text-align: center;
                }
            }
        }
    }
}

@mixin media-600px {
    .studio {
        div {
            display: flex;
            flex-direction: column-reverse;
        }

        .video-finder {
            .video {
                section {
                    margin-top: 15px;
                }
            }
        }

        .recent-videos {
            .video-container {
                flex-direction: row;
                overflow: scroll hidden;

                .video {
                    flex-direction: column;
                    margin-left: 10px;

                    span {
                        margin-left: 0;
                        max-width: 120px;
                    }
                }

                .video:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@mixin media-375px {
    html {
        font-size: 10px;
    }

    .edit {
        .edit-container {
            .thumb-track {
                .track {
                    height: 45px;
                }
            }
        }
    }
}

@mixin media-fix {
    .studio {
        .video-finder {
            .video {
                .video-box {
                    display: grid;
                    grid-template-columns: 46% 46%;
                }
            }
        }

        .recent-videos {
            .video-container {
                overflow: hidden scroll;
            }
        }
    }

    .edit {
        .edit-container {
            display: grid;
            width: 60%;
            height: 50%;
            // max-height: 50%;
            grid-template-columns: 47% 47%;
            justify-content: center;
            gap: 20px;
        }
    }
}