@import './variables';

@mixin no-gaps {
    margin: 0;
    padding: 0;
}

@mixin gradient-text {
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin full-screen {
    width: 100%;
    height: 100vh;
}

@mixin scroll-bar {
    ::-webkit-scrollbar {
        background-color: $secundary-color;
        width: 8px;
        height: 8px;
        border-radius: 100px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 100px;
    }

}

@mixin media-1050px {
    html {
        font-size: 12px;
    }
    .login {
        section {
            width: 50%;
        }
    }
}

@mixin media-700px {
    .login {
        section {
            width: 80%;
        }
    }
    .studio {
        .video-finder {
            .video {
                .video-box {
                    display: flex;
                    flex-direction: column;
                }
                section {
                    margin-top: 15px;
                }
            }
        }
    }
}

@mixin media-600px {
    .studio {
        div {
            display: flex;
            flex-direction: column-reverse;
        }

        .video-finder {
            .video {
                section {
                    margin-top: 15px;
                }
            }
        }

        .recent-videos {
            .video-container {
                flex-direction: row;
                overflow: scroll hidden;

                .video {
                    flex-direction: column;
                    margin-left: 10px;

                    span {
                        margin-left: 0;
                        max-width: 120px;
                    }
                }

                .video:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@mixin media-375px {
    html {
        font-size: 10px;
    }
}

@mixin media-fix-1 {
    .studio {
        .video-finder {
            .video {
                .video-box {
                    display: grid;
                    grid-template-columns: 46% 46%;
                }
            }
        }

        .recent-videos {
            .video-container {
                overflow: hidden scroll;
            }
        }
    }
}

@mixin media-fix-2 {
    .studio {
        .recent-videos {
            .video-container {
                overflow: hidden scroll;
            }
        }
    }
}