@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

// Color 

$primary-color: #4A0078;
$secundary-color: #212121;
$background-color: #121212;
$title-icons-color: #FFF;
$linear-gradient: linear-gradient(to right, #4A0078, #BB5A00);

// Fonts

$main-font: 'Poppins', sans-serif;
$title-weight: 500;

// Font-Size

$bigtitle-fontsize: 3.2rem;
$title-fontsize: 1.9rem;
$text-fontsize: 1.5rem;
$utility-fontsize: 1.3rem;
