@import './mixins';
@import './variables';

* {
    @include no-gaps;
    font-family: $main-font;
    box-sizing: border-box
}

html,
body {
    @include full-screen;
    overflow-x: hidden;
    background-color: $background-color;
    scroll-behavior: smooth;

    font-size: 16px;
}

@include scroll-bar;

header {
    width: 100%;
    padding-left: 24px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);

    .logo {
        cursor: pointer;

        h1 {
            font-size: 26px;
            padding-block: 5px;
            font-weight: $title-weight;
            font-family: Arial, Helvetica, sans-serif;
            @include gradient-text;
        }
    }

    div {
        display: flex;
    }

    .user {
        background-color: $secundary-color;
        padding: 12px 30px;
        gap: 10px;

        a,
        h1,
        button {
            @include no-gaps;
            color: $title-icons-color;
            cursor: pointer;
            @include container-center;
            flex-direction: row;
            gap: 10px;
            font-size: 20px;
        }

        a:hover,
        h1:hover,
        button:hover {
            text-decoration: underline;
        }
    }

    .user:hover {
        background: $linear-gradient;
    }
}

.input-general {
    background-color: $secundary-color;
    color: $title-icons-color;
    border-radius: 100px;
    padding: 10px 20px;
    width: 100%;
    font-size: $utility-fontsize;
}

.login {
    @include full-screen;
    @include container-center;
    flex-direction: column;

    // overflow: scroll;
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 22%;
        gap: 25px;

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            a {
                font-size: $utility-fontsize;
                color: $title-icons-color;
                align-self: end;
            }

            a:hover {
                @include gradient-text;
            }

            .login-plugins {
                justify-content: start;
                width: 100%;
                gap: 10px;

                button:hover {
                    background-color: $primary-color;
                }

                .google-plugin {
                    padding: 15px;
                    border-radius: 100%;
                    background-color: $secundary-color;

                    .icon {
                        width: 35px;
                        height: 35px;
                    }
                }
            }

            .login-button {
                justify-content: center;

                button {
                    width: 100%;
                    padding-block: 10px;
                    @include container-center;
                    border-radius: 100px;
                    background: $linear-gradient;
                    font-size: $utility-fontsize;
                    color: $title-icons-color;
                    gap: 10px
                }
            }
        }

        h1 {
            font-size: $title-fontsize;
            color: $title-icons-color;
            font-weight: $title-weight;
        }

        div {
            display: flex;
        }

        .login-to-register {
            justify-content: end;
            height: 25px;
            align-items: center;

            .link {
                color: $title-icons-color;
                font-size: $utility-fontsize;

                span {
                    transition: ease 0.2s;
                }
            }

            .link:hover {
                span {
                    font-size: 26px;
                    @include gradient-text;
                    cursor: pointer;
                }
            }
        }
    }
}

.introduction {
    @include full-screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-inline: 10%;
    gap: 20px;

    h1 {
        font-size: $bigtitle-fontsize * 1.4;
        color: $title-icons-color;
        font-weight: $title-weight;
    }

    p {
        color: $title-icons-color;
        font-size: $text-fontsize;
    }

    button {
        background: $linear-gradient;
        display: inline;
        padding: 10px 40px;
        border-radius: 100px;
        color: $title-icons-color;
        font-size: $utility-fontsize;
    }
}

.studio {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    box-sizing: border-box;

    .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;

        h1 {
            color: $title-icons-color;
            font-size: $bigtitle-fontsize;
            font-weight: $title-weight;
        }

        span {
            font-size: $title-fontsize;
            font-weight: $title-weight;
            @include gradient-text;
        }
    }

    div {
        display: grid;
        grid-template-columns: 46% 46%;
        justify-content: space-between;

        section {
            div {
                display: flex;
                flex-direction: column;
            }
        }

        .recent-videos {
            h1 {
                color: $title-icons-color;
                font-size: $title-fontsize;
                font-weight: $title-weight;
                margin-bottom: 20px;
            }

            .video-container {
                max-height: 260px;

                h2 {
                    font-size: $utility-fontsize;
                    color: $title-icons-color
                }
            }

            .video {
                display: flex;
                flex-direction: row;
                justify-content: left;
                margin-bottom: 15px;

                .thumbnail {
                    min-width: 120px;
                    max-width: 120px;
                    height: 70px;
                    background-color: #ddd;
                }

                span {
                    color: $title-icons-color;
                    font-size: $utility-fontsize;
                    margin-left: 15px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 60%;
                }
            }
        }

        .video-finder {
            .finder {

                button {
                    background: $linear-gradient;
                    align-self: center;
                    display: inline-block;
                    padding: 10px 40px;
                    border-radius: 100px;
                    color: $title-icons-color;
                    margin-top: 20px;
                    font-size: $utility-fontsize;
                }
            }

            .video {
                width: 100%;
                @include container-center;
                margin-block: 20px;

                .video-box {
                    margin-block: 20px;
                    align-items: center;

                    section {

                        p,
                        span {
                            color: $title-icons-color;
                            font-size: $utility-fontsize;
                        }

                        p {
                            text-align: center;
                        }

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                            margin-bottom: 10px;
                        }

                        .buttons {
                            display: grid;
                            grid-template-columns: 48% 4% 48%;
                            padding-inline: 5%;
                            width: 100%;
                            background-color: $primary-color;
                            border-radius: 100px;
                            padding-block: 10px;
                            margin-top: 20px;

                            .separator {
                                width: 2px;
                                height: 100%;
                                background-color: #FFF;
                                justify-self: center;
                            }

                            button {
                                color: $title-icons-color;
                                font-size: $utility-fontsize;
                                font-weight: 400;
                                cursor: pointer;
                                text-align: center;
                            }

                            button:hover {
                                background: radial-gradient(#000000, #44006e, #4A0078);
                                ;
                            }
                        }
                    }
                }
            }
        }
    }
}

.steps {
    width: 100%;
    padding: 4% 10%;
    background: $linear-gradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h1 {
        color: $title-icons-color;
        font-size: $title-fontsize;
        font-weight: $title-weight;
        text-align: center;
    }

    div {
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 20px;

        section {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            h1 {
                font-size: $text-fontsize;
            }

            Image {
                width: 100%;
                height: auto;
            }

            span {
                font-size: $utility-fontsize;
                font-weight: 300;
                color: $title-icons-color;
                text-align: justify;
            }
        }
    }
}

.edit {
    @include full-screen;
    @include container-center;

    .edit-container {

        .thumb-track {
            @include container-center;
            flex-direction: column;
            gap: 20px;
            max-width: 100%;
            max-height: 100%;

            img {
                width: 80%;
            }

            .track {
                width: 100%;
                height: 55px;
                display: flex;
                gap: 10px;

                section {
                    background: $linear-gradient;
                    width: 100%;
                    @include container-center;
                    border-radius: 100px;
                    color: $title-icons-color;
                    padding-inline: 30px;
                    height: 100%;
                }

                .download-button {
                    background: $linear-gradient;
                    @include container-center;
                    aspect-ratio: 1 / 1;
                    height: 100%;
                    width: max-content;
                    border-radius: 100%;
                    color: $title-icons-color;
                }
            }
        }

        .lyrics {
            max-height: 100%;
            clip-path: fill-box;
            overflow: hidden;

            h1 {
                font-size: $title-fontsize;
                color: $title-icons-color;
                font-weight: $title-weight;
            }

            div {
                max-height: 80%;
                clip-path: fill-box;
                overflow: hidden scroll;

                p {
                    font-size: $utility-fontsize;
                    color: $title-icons-color;
                }

                .actual {
                    display: inline-block;
                    font-size: $text-fontsize;
                    transition: all 0.2s;
                    @include gradient-text;
                    font-weight: $title-weight;
                    
                }
            }
        }
    }
}

@media screen {
    @include media-fix;
}

@media screen and (max-width: 1501px) {
    @include media-1500px;
}

@media screen and (max-width: 1801px) {
    @include media-1800px;
}

@media screen and (max-width: 1051px) {
    @include media-1050px
}

@media screen and (max-width: 601px) {
    @include media-600px;
}

@media screen and (max-width: 701px) {
    @include media-700px;
}

@media screen and (max-width: 375px) {
    @include media-375px;
}