@import './mixins';
@import './variables';

* {
    @include no-gaps;
    font-family: $main-font;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus {
    outline: none
}

html,
body {
    @include full-screen;
    overflow-x: hidden;
    background-color: $background-color;
    scroll-behavior: smooth;

    font-size: 16px;
}

@include scroll-bar;

header {
    width: 100%;
    padding-left: 1rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 100;

    .container-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .logo {
            font-size: 1.8rem;
            padding-block: 5px;
            font-weight: $title-weight;
            font-family: Arial, Helvetica, sans-serif;
            @include gradient-text;
        }

        .go-back {
            color: $primary-color;
            @include container-center;
            gap: 0.4rem;
        }
    }

    div {
        display: flex;
    }

    .collapsible {
        display: flex;
        position: relative;
        justify-content: stretch;
        flex-direction: column;
        font-size: 1.8rem;
        color: #FFF;

        .container {
            cursor: pointer;
            align-items: center;
            justify-content: start;
            padding: 0.2rem 1rem;
            display: flex;
            flex-direction: row;
            background-color: $secundary-color;

            button,
            div {
                gap: 10px;
                padding: 5px;
                display: flex;
                align-items: center;
            }
        }

        .container:hover {
            background: $linear-gradient;
            text-decoration: underline;
        }

        .logout {
            position: absolute;
        }
    }
}

.input-general {
    background-color: $secundary-color;
    color: $title-icons-color;
    border-radius: 100px;
    padding: 10px 20px;
    width: 100%;
    font-size: $utility-fontsize;
}

.login {
    @include full-screen;
    @include container-center;
    flex-direction: column;
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 22%;
        gap: 25px;

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            a {
                font-size: $utility-fontsize;
                color: $title-icons-color;
                align-self: end;
            }

            a:hover {
                @include gradient-text;
            }

            .login-plugins {
                justify-content: start;
                width: 100%;
                gap: 10px;

                button:hover {
                    background-color: $primary-color;
                }

                .google-plugin {
                    padding: 15px;
                    border-radius: 100%;
                    background-color: $secundary-color;

                    .icon {
                        width: 35px;
                        height: 35px;
                    }
                }
            }

            .login-button {
                justify-content: center;

                button {
                    width: 100%;
                    padding-block: 10px;
                    @include container-center;
                    border-radius: 100px;
                    @include linear-gradient;
                    font-size: $utility-fontsize;
                    color: $title-icons-color;
                    gap: 10px
                }
            }
        }

        h1 {
            font-size: $title-fontsize;
            color: $title-icons-color;
            font-weight: $title-weight;
        }

        div {
            display: flex;
        }

        .login-to-register {
            justify-content: end;
            height: 25px;
            align-items: center;

            .link {
                color: $title-icons-color;
                font-size: $utility-fontsize;

                span {
                    transition: ease 0.2s;
                }
            }

            .link:hover {
                span {
                    font-size: 26px;
                    @include gradient-text;
                    cursor: pointer;
                }
            }
        }
    }
}

.introduction {
    @include full-screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-inline: 10%;
    gap: 20px;

    h1 {
        font-size: $bigtitle-fontsize * 1.4;
        color: $title-icons-color;
        font-weight: $title-weight;
    }

    p {
        color: $title-icons-color;
        font-size: $text-fontsize;
    }

    button {
        @include linear-gradient;
        display: inline;
        padding: 10px 40px;
        border-radius: 100px;
        color: $title-icons-color;
        font-size: $utility-fontsize;
    }
}

.studio {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    box-sizing: border-box;

    .title {
        display: inline-block;
        margin-bottom: 100px;

        h1 {
            color: $title-icons-color;
            font-size: $bigtitle-fontsize;
            font-weight: $title-weight;
        }

        span {
            font-size: $title-fontsize;
            font-weight: $title-weight;
            @include gradient-text;
        }
    }

    div {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .recent-videos {
            h1, p, span {
                color: $title-icons-color;
            }
            h1 {
                font-size: $title-fontsize;
                font-weight: $title-weight;
                margin-bottom: 1rem;
            }

            .video-container {
                display: flex;
                gap: 1rem;
                overflow: scroll hidden;
                max-width: 100%;
                max-height: 100%;

                p {
                    font-size: $utility-fontsize;
                }
                .video {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .thumbnail {
                        min-width: 110px;
                        height: 65px;
                    }
    
                    span {
                        max-width: 110px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        font-size: $utility-fontsize;
                    }
                }
            }
        }
        .video-finder {
            grid-row: 1;

            .finder {
                @include container-center;
                flex-direction: column;
                button {
                    @include linear-gradient;
                    align-self: center;
                    display: inline-block;
                    padding: 10px 40px;
                    border-radius: 100px;
                    color: $title-icons-color;
                    margin-top: 20px;
                    font-size: $utility-fontsize;
                }
            }

            .video {
                @include container-center;
                margin-block: 20px;
                h1 {
                    text-align: center;
                }
              
                .video-box {
                    display: grid;
                    margin-block: 10px;
                    width: 50%;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    section {
                        p,
                        span {
                            color: $title-icons-color;
                            font-size: $utility-fontsize;
                        }

                        p {
                            text-align: center;
                        }

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                            margin-bottom: 10px;
                        }

                        .buttons {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            padding-inline: 10%;
                            width: 100%;
                            background-color: $primary-color;
                            border-radius: 100px;
                            padding-block: 10px;
                            margin-top: 20px;

                            .separator {
                                width: 2px;
                                height: 100%;
                                background-color: #FFF;
                                justify-self: center;
                            }

                            button {
                                color: $title-icons-color;
                                font-size: $utility-fontsize;
                                font-weight: 400;
                                cursor: pointer;
                                text-align: center;
                            }

                            button:hover {
                                background: radial-gradient(#000000, #44006e, #4A0078);
                                ;
                            }
                        }
                    }
                }
            }
        }
    }
}

.steps {
    width: 100%;
    padding: 4% 10%;
    @include linear-gradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h1,
    summary {
        color: $title-icons-color;
        font-size: $title-fontsize;
        font-weight: $title-weight;
        text-align: center;
    }

    div {
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 20px;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            width: 100%;

            details {
                background-color: #00000027;
                display: flex;
                padding-block: 10px;
                width: 100%;
                border-radius: 10px;
                transition: all 0.5s;
                cursor: pointer;
            }

            h1,
            summary {
                font-size: $text-fontsize;
            }

            Image {
                width: 100%;
                height: auto;
            }

            span {
                font-size: $utility-fontsize / 1.1;
                font-weight: 300;
                color: $title-icons-color;
            }
        }
    }
}

.edit {
    @include container-center;
    width: 100vw;
    min-height: 100%;

    .edit-container {
        width: 100%;
        height: 100%;

        .thumb-track {
            @include container-center;
            flex-direction: column;
            gap: 20px;
            max-width: 100%;
            max-height: 100%;

            img {
                width: 80%;
            }

            .track {
                width: 100%;
                height: 55px;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;

                section {
                    @include linear-gradient;
                    width: 100%;
                    @include container-center;
                    border-radius: 100px;
                    color: $title-icons-color;
                    padding-inline: 30px;
                    height: 100%;
                    gap: 1rem;
                    display: flex;

                    button {
                        font-size: 25px;
                    }
                }

                .download-button {
                    @include linear-gradient;
                    @include container-center;
                    aspect-ratio: 1 / 1;
                    height: 100%;
                    width: max-content;
                    border-radius: 100%;
                    color: $title-icons-color;
                }
            }
        }

        .lyrics {
            max-height: 100%;
            clip-path: fill-box;
            overflow: hidden;

            h1 {
                font-size: $title-fontsize;
                color: $title-icons-color;
                font-weight: $title-weight;
                padding-bottom: 10px;
            }

            div {
                max-height: 50vh;
                clip-path: fill-box;
                overflow: hidden scroll;
                padding-right: 10px;

                p {
                    font-size: $utility-fontsize;
                    color: $title-icons-color;
                }

                .actual {
                    display: inline-block;
                    font-size: $text-fontsize;
                    transition: all 0.2s;
                    @include gradient-text;
                    font-weight: $title-weight;

                }
            }
        }
    }
}

@media screen {
    @include media-fix;
}

@media screen and (max-width: 1251px) {
    @include media-1250px
}

@media screen and (max-width: 601px) {
    @include media-600px;
}

@media screen and (max-width: 701px) {
    @include media-700px;
}

@media screen and (max-width: 375px) {
    @include media-375px;
}